<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Managemnet System</title>
  <link rel="stylesheet" href="ibm_ims.css">
</head>
<body>
  <div class="container">
    <div class="loginheader">
      <h1>IBM</h1>
      <p>Inventory Managemnet System</p>
    </div>
    <div class="buttonlm">
      <button>Register</button>
    </div>
    <div class="loginbody">
      <form action="">
        <div class="loginInputContainer">
          <label for="">Username</label>
          <input type="text" placeholder="User Name">
        </div>
        <div class="loginInputContainer">
          <label for="">Password</label>
          <input type="password" placeholder="Password">
        </div><br>
        <div class="forg">
          <a href=""target="_blank" >forgot password ?</a>
        </div>
        
        <div class="loginButtonContainer">
          <button>LogIn</button>
        </div>
      </form>

    </div>
    </div>
  </form>
  </div>
</body>
</html>